html,body{
    display: flex;
    justify-content: center;
}

body{
    background: linear-gradient(to top, #0fd850, #f9f047);
    animation: gradient1 5s ease-in-out infinite;
    background-size:600% 600%;
}

@keyframes gradient1{
    0%{background-position: 65% 0%;}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
/* ------------------------------------------------------------------------------- */
/* main div css starts*/
#resume_parent{
    height: 750px;
    width: 650px;
    border:3px black solid;
    
    
}
/* main div css ends */

/* ------------------------------------------------------------------------------- */

/* header div css starts */
#div_header{
    height: 120px;
    width: 650px;
   
       
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    height: 85px;
    width: 216.67px;
    display: flex;
    flex-direction: column;
    
}

#ign{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
}

h1{
  text-align: justify; 
  display: inline;
  margin: 0;
}

h2{
    
    margin: 0;
}

#div_img{
    height: 85px;
    width: 216.67px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
/* ------------------------------------------------------------------------------- */
#contactinfo{
    height: 85px;
    width: 216.67px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
    
}


/* contact info fav icons css */
.email{
    margin-right: 10px;
}
.cont{
    margin-right: 17px;
}
.loc{
    margin-right: 17px;
}
.linkedin{
    margin-right: 15px;
}
/* contact info fav icons css ends */

a{
    text-decoration: none;
}

li{
    list-style-type: none;

}

/* header div ends here */


/* ------------------------------------------------------------------------------- */


/* main div css */

#main_div{
    display: flex;
}


/* left_pane div starts here */
#left_pane{
    width: 325px;
    height: 630px;
    
}
/* ------------------------------------------------------------------------------- */

#left_pane_1{
    height: 200px;
    width:325px;
    
}

#about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Inter-skills{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------------------------------------- */

#left_pane_2{
    height: 215px;
    width:325px;
    
}
/* ------------------------------------------------------------------- */



#left_pane_3{
    height: 215px;
    width:325px;
    
}


.checked {
    color: rgb(204, 49, 49);
    
}

/* left pane css ends here */


/* ---------------------------------------------------------- */

/* right pane css starts */
#right_pane{
    width: 325px;
    height: 630px;
    
    
}
/* ------------------------------------------------------------------------------- */



#right_pane_1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

    /* css inside of right pane 1 div starts */

    .skill_parent{
        margin-bottom: 15px;
        width: 80%;
        border-radius: 15px;
        
        background-color:rgb(199, 183, 183);
    }
    .skills{
        border-radius: 15px;
        text-align:right;
        color: white;
        animation: text 2s 0;
    }

    .html {margin-top: 5px; width: 90%; background-color: #4CAF50; animation: load 2s 0s} 
    .css {width: 80%; background-color: #2196F3;animation: load 2s 0s} 
    .js {width: 65%; background-color: #f44336;animation: load 2s 0s} 
    .php {width: 60%; background-color: #3b3a3a;animation: load 2s 0s} 

    @keyframes text{
        from{
            text-align: left;
        }
    }

    @keyframes load{
        from{
            width: 0%;
        }
    }

    /* css inside of right pane 1 div ends*/

/* ---------------------------------------------------------------------------------------- */

#right_pane_2{
    height: 215px;
    width:325px;
   
}

.education{
    display: inline;
    
}


.per{
    display: inline;
}




/* ------------------------------------------------------------------------------ */

#right_pane_3{
    height: 215px;
    width:325px;
    
}

#honour{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* right pane css ends */



/* css for button */
.btn{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 10px;
    
}
.btn:hover {
    background-color: blue;
}

/* css for button ends*/